*{
    margin: 0;
    padding: 0;

}
body{
    color: rgb(14, 14, 14);
    background-color: rgb(210, 241, 241);

}
#contenedor{
    background-color: lightblue;
    width: 70%;
    height: 50%;


}

#menu{
    height: 100%;
    background-color: rgb(204, 237, 204);
    margin: 10em;
    border-radius: 50px;
   }
   /*selector de etiqueta*/

li{
   display: inline;
   padding: 10px 30px;
   margin: 4em;
}
li a:hover{
   color: rgb(116, 30, 11);
   text-decoration: none;
   list-style: none;
   font-size: 22px;
}

img:hover{
    width: 60%;

}


/*selector de clase*/
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}